.register-content {
    width: 700px;
    height: 400px; /* Adjust the height value as needed */
    padding: 190px;
    padding-right: 30px;
    padding-top: 1px;
    border: 1px solid #222222;
    border-radius: 70px;
    right: 280px;
    bottom: 15px;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(161, 182, 253, 0.825);
    align-items: center;
    margin-top: 105px;
    margin-left: 100px;
    padding-bottom: 0 !important; /* Add !important to increase priority */
    padding-left: 90px;
    margin-right: -130px;
    margin-bottom: 65px;
    position: fixed;
}

.register-content h1 {
    text-align: center;
    text-shadow: #000000;
    font-size: 30px;
    color: #007bff;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.form-column {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.form-field {
    flex: 0 0 58%; /* Adjust the width of each form field column as needed */
    margin-top: -15px;
   
    padding-right: 200px;
    width: 200px;
    margin-left: -60px;
}

.form-field2 {
    flex: 0 0 58%; /* Adjust the width of each form field column as needed */
    margin-bottom: 20px;
    margin-top: -15px;
    padding-right: 100px;
    margin-left: -190px;
    width: 300px;
}

.form-field label,
.form-field2 label,
.form-field2 input,
.form-field2 select,
.form-field input,
.form-field select {
    display: block;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.form-field input,
.form-field2 input,
.form-field2 select,
.form-field select {
    width: calc(100% - 100px);
    padding: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-right: 20px; 
}

.form-field select {
    height: 40px;
}
.form-field.input{
    padding-left: 20px;
}
#payment{
    padding-right: 1px;
    width: 275px;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    margin-left: -1060px;
    margin-top: 200px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.center {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.cross-symbol {
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
  }
  
.cross-symbol img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
  }

#popup {
    display: none;
    position: fixed;
    top: 60%;
    left: 55%; 
    transform: translate(-50%, -50%);
    background-color: rgb(235, 235, 237);
    border: 1px solid #000000;
    padding: 30px;
    border-radius: 20px;
    padding-right: 90px;
    box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    margin-top: -260px;
    margin-right: 99px;
    text-align: center; /* Center the content */
}

#popupMessage {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: medium;
color: #222222;
text-align: center;
margin-left: 30px;
margin-right: 10px;
}

#okButton {
    border-style: solid;
    border-color: black;
    background-color: #007bff;
    border-radius: 5px;
    
    /* Add any specific styles for the OK button here */
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    margin-right: auto;
    border: 2px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-color: black;
    border: 2px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup span {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup button:focus {
    outline: none;
}

.popup button#updateYesButton {
    background-color: #4caf50;
    border-color: black;
    border-radius: 9px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 90px;
    color: #fff;
    border: none;
}

.popup button#updateNoButton {
    background-color: #f44336;
    border-radius: 5px;
    border-color: black;
    margin-right: 20px;
    color: #fff;
    border: none;
}


#updatePopupMessage{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
